body {
  font-family: 'Open Sans', sans-serif;
  padding: 0; }

.container {
  margin: 0; }

header {
  background-image: url("/images/header.jpg");
  height: 522px;
  font-family: 'Oswald', sans-serif;
  padding-left: 100px;
  padding-top: 1px;
  padding-right: 100px; }
  header ul {
    list-style: none;
    display: inline; }
    header ul li {
      display: inline;
      line-height: 0px; }
      header ul li img {
        display: inline; }
      header ul li a {
        text-decoration: none;
        color: #072B41; }
  header .rightNav {
    float: right;
    display: inline;
    color: #072B41; }
  header .headerTextContainer {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center; }
    header .headerTextContainer .headerText1 {
      color: #ffffff;
      font-size: 120px;
      font-weight: 100;
      margin-top: 112px;
      text-align: center; }
    header .headerTextContainer .headerText2 {
      text-align: center;
      margin-top: -111px;
      font-size: 18px;
      padding-left: 88px;
      color: #072B41; }

.mainSection {
  padding-left: 162px; }

.leftContent {
  width: 616px;
  float: left;
  display: inline; }

.rightContent {
  display: inline;
  float: left; }
  .rightContent .centerPicture p {
    color: #1D6FB1; }
  .rightContent .centerPicture ul {
    list-style: none; }
    .rightContent .centerPicture ul li {
      display: inline; }
  .rightContent .Ad {
    height: 300px;
    width: 278px; }
  .rightContent .adHeading {
    float: right;
    font-size: 1em; }
    .rightContent .adHeading a {
      text-decoration: underline; }
  .rightContent .sideBarHeading {
    color: #1D6FB1;
    text-align: center;
    font-weight: 400;
    margin-top: 15px;
    clear: both;
    float: right; }
